In [1]:
import pandas as pd
import functions as func
import numpy as np
import seaborn as sns

In [2]:
# load data sets
db_locations = func.import_yaml()

#load df
df = pd.read_csv(db_locations['data_raw']['train'], sep='\t')
df_test = pd.read_csv(db_locations['data_raw']['test'], sep='\t')

In [3]:
#Basic EDA and

In [4]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [5]:
df.shape

(156060, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156060 entries, 0 to 156059
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   PhraseId    156060 non-null  int64
 1   SentenceId  156060 non-null  int64
 2   Phrase      156060 non-null  object
 3   Sentiment   156060 non-null  int64
dtypes: int64(3), object(1)
memory usage: 4.8+ MB

In [7]:
df.duplicated().sum()

0

In [8]:
df.isnull().sum()

PhraseId      0
SentenceId    0
Phrase        0
Sentiment     0
dtype: int64

In [9]:
df.Sentiment.unique()

array([1, 2, 3, 4, 0])

In [11]:
df.Sentiment.value_counts()

Sentiment
2    79582
3    32927
1    27273
4     9206
0     7072
Name: count, dtype: int64

In [13]:
df_test.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

In [14]:
df_test.shape

(66292, 3)

In [15]:
df.isnull().sum()

PhraseId      0
SentenceId    0
Phrase        0
Sentiment     0
dtype: int64

In [ ]:
#data is clean there is nothing to change

In [16]:
df.to_csv(db_locations['data_clean']['train'],index = False)
df_test.to_csv(db_locations['data_clean']['test'],index = False)